.additional {
  width: 280px;
  padding: 0;
  border: 0;
  position: relative;
}

.additional__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.additional__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 34px;
  position: relative;
  left: -5px;
}

.additional__title::after {
  position: absolute;
  content: "";
  width: calc(100vw / 2);
  height: 2px;
  background-color: #68b738;
  right: calc((100vw / 2) * -1);
  top: 59%;
}

.additional__outline {
  height: 2px;
  width: 100%;
  background: #68b738;
  align-self: center;
  position: absolute;
  top: -46px;
  z-index: -1;
  left: 3px;
}

.additional__item {
  padding-top: 12px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;
}

.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__name {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.additional__description {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional__sum {
  line-height: 14px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
}

.additional__cost {
  color: #444444;
  line-height: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.additional__button {
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 708px;
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 36px;
    position: relative;
    padding-right: 36px;
    margin-top: 65px;
  }

  .additional__title::before {
    position: absolute;
    content: "";
    width: calc((100vw - 360px) / 2);
    height: 2px;
    background-color: #68b738;
    left: calc(((100vw - 282px) / 2) * -1);
    top: 59%;
  }

  .additional__title::after {
    right: calc((100vw / 2) * -1);
  }

  .additional__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    margin-top: 46px;
  }

  .additional__item:first-child {
    border: none;
  }

  .additional__item {
    padding: 26px 38px;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .additional__name {
    font-size: 20px;
    line-height: 20px;
  }

  .additional__description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional__cost {
    margin-left: 55px;
  }

  .additional__button {
    width: 632px;

    &:hover {
      background: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 896px;
  }

  .additional__title::after {
    width: calc(100vw / 2);
    right: calc((100vw / 2) * -1);
  }

  .additional__title {
    margin-left: 0;
    margin-top: 74px;
  }

  .additional__list {
    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    border-top: 1px solid #cdcdcd;
  }

  .additional__wrapper {
    width: 612px;
    align-items: center;
    margin: 0;
  }

  .additional__name {
    margin: 0;
  }

  .additional__description {
    width: 50%;
    margin: 0;
  }

  .additional__sum {
    position: relative;
    left: 17px;
  }

  .additional__button {
    width: 244px;
    margin: 0;
  }
}
