.catalog-promo {
  width: 280px;
  height: 290px;
  background: url("../img/green-screen.png"), url("../img/cat-package.jpg");
  background-repeat: no-repeat;
}

.catalog-promo__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
}

