.catalog {
  width: 280px;
  margin: 0 auto;
}

.catalog__cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__list {
  list-style-type: none;
}

.catalog__item {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
  }

  .catalog__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__card {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog__card {
    width: 245px;
  }
}
