.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__description {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.catalog-more__button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
}
