.catalog-more {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog-more__plus {
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
    width: 100%;
    height: 2px;
    transform: rotate(90deg);
    top: 48%;
  }
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.catalog-more__description {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  margin-bottom: 21px;
}

.catalog-more__button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
  width: 280px;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    width: 244px;
    border: 2px solid #ebebeb;
    padding: 38px;
  }

  .catalog-more__plus {
    width: 60px;
    height: 60px;
    margin-top: 52px;
    margin-bottom: 49px;
  }

  .catalog-more__title {
    width: 134px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }

  .catalog-more__description {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    text-align: center;
    margin-bottom: 87px;
  }

  .catalog-more__button {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    width: 159px;
    padding: 39px 41px;
  }

  .catalog-more__button {
    width: 169px;
  }
}
