.footer-wrapper {
  margin: 0 auto;
  width: 100%;
}

.footer-wrapper__name-logo {
  width: 128px;
  margin: 0 auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .footer-wrapper__tablet-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper__tablet-desktop {
    width: 1220px;
  }
}
