.footer-banner__link {
  display: flex;
  width: 280px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 13px;
  align-items: center;
  text-decoration: none;
}

.footer-banner__title {
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.footer-banner__image {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .footer-banner__link {
    width: 163px;
    justify-content: space-between;
    margin: 0;

    &:active {
      opacity: 0.3;
    }
  }

  .footer-banner__image {
    fill: #666666;
    display: block;

    &:hover {
      fill: #68b738;
    }
  }

  .footer-banner__link:active > .footer-banner__image {
    fill: #68b738;
  }
}
