.form__wrapper {
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  position: relative;
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form__description {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 39px;
  display: block;
}

.form__cat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.form__cat-item {
  display: flex;
  align-items: center;
}

.form__cat-item:not(:last-child) {
  margin-bottom: 13px;
}

.form__label {
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 13px;

}

.form__input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  height: 46px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
}

.form__program-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;
}

.form__program-item {
  position: relative;
}

.form__program-item:not(:last-child) {
  margin-bottom: 13px;
}

.form__program-input {
  width: 25px;
  height: 25px;
  position: relative;
}

.form__control-radio {
  position: absolute;
  border: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
}

.form__program-input[type="radio"]:checked + .form__control-radio::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__program-description {
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
}


.form__name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 30px;
  background: #ffffff;
  position: relative;
  width: auto;
  white-space: nowrap;
  padding-right: 23px;
}

.form__outline--position {
  top: -97px;
}

.form__owner-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__owner-item {
  display: flex;
  align-items: center;
}

.form__comment {
  width: 280px;
  height: 150px;
  font-family: "Oswald", sans-serif;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding-left: 19px;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
}

.form__options-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  margin-bottom: 21px;
}

.form__options-control {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__option-description {
  margin-left: 12px;
  font-size: 16px;
  text-transform: uppercase;
}

.form__option-input {
  width: 28px;
  height: 28px;
}


.form__control-mark {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  left: 0;
}

.form__option-input[type="checkbox"]:checked + .form__control-mark {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__wrapper-submit {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form__submit {
  width: 280px;
  font-size: 16px;
  padding: 14px 0;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", sans-serif;
}

.form__legend {
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin-top: 21px;
  margin-bottom: 32px;
}

.form__legend--bottom {
  display: block;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 728px;
    margin: 0 auto;
    padding-left: 40px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__cat-list {
    margin-bottom: 72px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
    margin-right: 37px;
  }

  .form__program-list {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
    width: 570px;
  }

  .form__program-item:not(:last-child) {
    margin-bottom: 19px;
  }

  .form__control-radio {
    width: 40px;
    height: 40px;
  }

  .form__program-input[type="radio"]:checked + .form__control-radio::before {
    width: 18px;
    height: 18px;
  }

  .form__program-description {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: -5px;
    margin-left: 20px;
  }

  .form__owner-list {
    margin-top: 16px;
    margin-bottom: 42px;
  }

  .form__owner-item {
    margin-bottom: 20px;
  }

  .form__input-name--email {
    background-image: url("../img/icon-email.svg");
    background-repeat: no-repeat;
    background-position: 575px;
  }

  .form__input-name--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 554px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .form__name {
    font-size: 36px;
    line-height: 36px;
  }

  .form__name br {
    display: none;
  }

  .form__outline {
    top: -43px;
  }

  .form__outline--position {
    top: -40px;
  }

  .form__comment {
    margin-top: 53px;
    width: 608px;
    height: 160px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .form__options-list {
    grid-template-columns: 1fr 1fr;
    width: 565px;
    gap: 0 123px;
    margin-bottom: 22px;
  }

  .form__options-item {
    width: 221px;
    position: relative;
    margin-bottom: 32px;
  }

  .form__option-input {
    width: 35px;
    height: 35px;
  }

  .form__control-mark {
    width: 38px;
    height: 38px;
    background-size: 24px;
  }

  .form__option-description {
    font-size: 20px;
    line-height: 30px;
    margin-left: 19px;
  }


  .form__wrapper-submit {
    width: 523px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    right: 83px;
    margin-bottom: 72px;
  }

  .form__submit {
    width: 282px;
    padding: 16px 0;
    font-size: 20px;
  }

  .form__legend {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }

  .form__legend--bottom {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__wrapper {
    width: 1220px;
    margin: 0;
    padding: 0;
  }

  .form__wrapper-desktop {
    display: flex;
    margin-bottom: 25px;
  }

  .form__cat-list {
    width: 569px;
    margin: 0;
  }

  .form__cat-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .form__program-list {
    width: 568px;
  }

  .form__owner-list {
    display: flex;
    justify-content: space-between;
  }

  .form__input-name--email {
    width: 467px;
    background-position: 447px;
    margin: 0;
  }

  .form__input-name--tel {
    width: 467px;
    background-position: 447px;
    margin: 0;
  }

  .form__comment {
    width: 1220px;
  }

  .form__options-list {
    grid-template-columns: repeat(4, 1fr);
    width: 1196px;
    gap: 0 100px;
  }


  .form__wrapper-submit {
    width: 829px;
    margin: 0 auto;
    position: relative;
    left: -196px;
    margin-bottom: 82px;
  }

  .form__submit {
    width: 568px;
  }



}
