.main-header-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.main-header-wrapper__toggle {
  width: 25px;
  height: 25px;
  background-image: url("../img/navigation-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: relative;
  display: block;
  background-color: #ffffff;
}

.main-header-wrapper__link {
  width: 100%;
  display: flex;
  align-items: flex-start;

  &:active {
    opacity: 0.6;
  }
}

.main-header-wrapper__logo {
  width: 34px;
  height: 38px;
}

.main-header-wrapper__name-logo {
  fill: #111111;
  width: auto;
  margin: auto;
  position: relative;
  left: -5px;
}

@media (max-width: $mobile-width-only) {
  .main-header-wrapper__toggle--opened {
    background-image: url("../img/close-mark.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
  }

  .main-header-wrapper__toggle--nojs {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header-wrapper {
    width: 213px;
    padding: 0;
    margin: 0;
  }

  .main-header-wrapper__link {
    width: 200px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .main-header-wrapper__toggle {
    display: none;
  }

  .main-header-wrapper__logo {
    width: 61px;
    height: 50px;
  }

  .main-header-wrapper__name-logo {
    fill: #444444;
    margin-left: 17px;
    width: 101px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-header-wrapper {
    width: 222px;
  }

  .main-header-wrapper__link {
    width: 220px;
  }

  .main-header-wrapper__logo {
    width: 77px;
    height: 59px;
    position: relative;
    right: 2px;
  }

  .main-header-wrapper__name-logo {
    width: 130px;
    height: 21px;
    margin-left: 6px;
  }
}
