.main-nav {
  width: 280px;
  margin: 0 auto;
}

.main-nav__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 13px;
  flex-wrap: wrap;
}

.main-nav__list::before {
  position: absolute;
  content: "";
  width: calc((100vw - 220px) / 2);
  height: 100%;
  background-color: #ffffff;
  left: calc(((100vw - 222px) / 2) * -1);
}

.main-nav__list::after {
  position: absolute;
  content: "";
  width: calc((100vw - 223px) / 2);
  height: 100%;
  background-color: #ffffff;
  right: calc(((100vw - 225px) / 2) * -1);
  top: 0;
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;
  padding: 22px;
  text-align: center;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item::before {
  position: absolute;
  content: "";
  width: calc((100vw - 223px) / 2);
  height: 100%;
  background-color: #ffffff;
  left: calc(((100vw - 225px) / 2) * -1);
  border-top: 1px solid #e6e6e6;
  top: -1px;
}

.main-nav__item::after {
  position: absolute;
  content: "";
  width: calc((100vw - 223px) / 2);
  height: 100%;
  background-color: #ffffff;
  right: calc(((100vw - 225px) / 2) * -1);
  top: -1px;
  border-top: 1px solid #e6e6e6;
  z-index: 1;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
  display: block;
  height: 100%;
  white-space: nowrap;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav--nojs {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
  }

  .main-nav__list {
    flex-direction: row;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    width: 86.9%;
    justify-content: space-between;
    position: static;
    left: 0;
    transform: translateX(0%);
    margin-top: 0;
    background: none;
  }

  .main-nav__list::before {
    display: none;
  }

  .main-nav__list::after {
    display: none;
  }

  .main-nav__item {
    border: none;
    width: auto;
    padding: 0;
    padding-top: 18px;
  }

  .main-nav__item::before {
    display: none;
  }

  .main-nav__item::after {
    display: none;
  }

  .main-nav__item--current {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      background-color: #68b738;
      height: 2px;
      bottom: 2px;
      left: 0;
      display: block;
      top: auto;
      border: none;
    }
  }

  .main-nav__item--current:hover.main-nav__item--current::before {
    background-color: #000000;
    opacity: 0.6;
  }

  .main-nav__item--current:active.main-nav__item--current::before {
    background-color: #000000;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: end;
  }

  .main-nav__list {
    font-size: 20px;
    width: 48%;
    justify-content: space-between;
  }

  .main-nav__item--current-white.main-nav__item--current::before {
    display: none;
  }

  .main-nav__item--outline.main-nav__item--current::before {
    bottom: 7px;
  }

  .main-nav__item--current-white {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      background-color: #ffffff;
      height: 2px;
      bottom: 8px;
      left: 0;
      top: auto;
      border: none;
    }
  }

  .main-nav__item--current--white:hover.main-nav__item--current--white::before {
    background-color: #ffffff;
    opacity: 0.6;
  }

  .main-nav__item--current--white:active.main-nav__item--current--white::before {
    opacity: 0.3;
    background-color: #ffffff;
  }

  .main-nav__link--white {
    color: #ffffff;
  }
}
