.main-content-guide {
  margin: 0 auto;
  width: 280px;
}

.main-content-guide__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 2px;
}

.main-content-guide__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  margin-bottom: 49px;
}

.main-content-guide__item {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.main-content-guide__image-wrapper {
  position: relative;
  width: 60px;
  height: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
}

.main-content-guide__image {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
}

.main-content-guide__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 4px;
  width: 200px;
}

.main-content-guide__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-content-guide {
    padding-left: 30px;
    width: 738px;
  }


  .main-content-guide__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 49px;
    margin-bottom: 34px;
  }

  .main-content-guide__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 30px;
    margin: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #e6e6e6;
  }

  .main-content-guide__item {
    padding: 0;
    width: 246px;
    min-height: 280px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      color: #f2f2f2;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
      right: 0;
    }
  }

  .main-content-guide__item--tree-leaf::before {
    content: "1";
    right: 21px;
  }

  .main-content-guide__item--tub::before {
    content: "2";
  }

  .main-content-guide__item--eat::before {
    content: "3";
  }

  .main-content-guide__item--timer::before {
    content: "4";
  }

  .main-content-guide__image-wrapper {
    width: 80px;
    height: 80px;

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  .main-content-guide__image {
    margin-top: 40px;
  }

  .main-content-guide__description {
    padding: 0;
    display: block;
    width: auto;
    margin-top: 31px;
  }

  .main-content-guide__description br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-content-guide {
    width: 1220px;
    padding: 0;
  }

  .main-content-guide__title {
    margin-top: 72px;
  }

  .main-content-guide__list {
    grid-template-columns: repeat(4, 247px);
    gap: 77px;
    border: none;
  }

  .main-content-guide__item {
    width: auto;
  }
}
