.main-content-example-expenses {
  width: 124px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content-example-expenses__title {
  font-size: 24px;
  line-height: 24px;
}

.main-content-example-expenses__description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  color: #444444;
}
