.main-container-promo {
  color: #ffffff;
}

.main-container-promo__wrapper {
  background: url("../img/green-screen.png"), url("../img/index-background-cat.jpg");
  background-repeat: no-repeat;
  width: 320px;
  margin: 0 auto;
}

.main-container-promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-top: 27px;
}

.main-container-promo__description {
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}

.main-container-promo__image-can {
  display: block;
  margin: 0 auto;
  margin-top: 29px;
}

.main-container-promo__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding: 11px 0;
}

@media (min-width: $tablet-width) {
  .main-container-promo__wrapper {
    color: #000000;
    background: none;
    width: 621px;
    min-height: 810px;
    position: relative;
    padding-left: 88px;
    margin-bottom: 20px;
  }

  .main-container-promo__title {
    text-align: start;
    width: 419px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 21px;
  }

  .main-container-promo__description {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding-top: 41px;
  }

  .main-container-promo__image-can {
    position: absolute;
    width: 709px;
    z-index: -1;
    bottom: -27px;
    left: -5px;
  }

  .main-container-promo__button {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    padding: 17px 0;
    margin: 0;
    margin-top: 49px;

    &:hover {
      background: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .main-container-promo__wrapper {
    width: 1140px;
    min-height: 584px;
    padding-left: 80px;
    margin-bottom: 0;
  }

  .main-container-promo__background {
    width: 720px;
    height: 694px;
    background: url("../img/green-screen.png"), url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -151px;
    right: -110px;
    z-index: -1;
  }

  .main-container-promo__title {
    padding-top: 72px;
  }

  .main-container-promo__description {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding-top: 41px;
  }

  .main-container-promo__image-can {
    width: 552px;

    z-index: 1;
    margin: 0;
    top: -10px;
    left: 36.7%;
  }
}
