.main-header-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-header-container {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header-container {
    width: 1220px;
  }
}
