.main-content-example-expenses {
  width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}

.main-content-example-expenses__title {
  font-size: 24px;
  line-height: 24px;
  margin: auto 0;
  text-transform: uppercase;
}

.main-content-example-expenses__description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  width: 87px;
  min-height: 24px;
  background: #eaeaea;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}


@media (min-width: $tablet-width) {
  .main-content-example-expenses {
    width: 162px;
    min-height: 71px;
    margin-bottom: 40px;
  }

  .main-content-example-expenses:not(:first-child) {
    margin-left: 40px;
  }

  .main-content-example-expenses__title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .main-content-example-expenses__description {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    background-color: #ffffff;
    white-space: nowrap;
    padding: 0 8px;
  }

  .main-content-example-expenses__description br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-content-example-expenses {
    margin: 0;
  }

  .main-content-example-expenses__description {
    background: #f2f2f2;
    width: auto;
    display: block;
    white-space: nowrap;
    padding: 0 8px;
  }
}
