.main-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto;
}

.main-content-card {
  background: #f2f2f2;
  width: 240px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-content-card__image {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 6px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.main-content-card__image--sphinx {
  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-sphinx.svg");
    background-size: cover;
    top: -3px;
    left: 8px;
  }
}

.main-content-card__image--panther {
  margin-top: 10px;

  &::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-panther.svg");
    background-size: cover;
    left: -10px;
    top: 10px;
  }
}

.main-content-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  margin-left: 20px;
}

.main-content-card__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #444444;
  margin-top: 23px;
}

.main-content-card__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-top: 23px;
  padding-top: 15px;
  width: 240px;
  border-top: 1px solid #d9d9d9;
  position: relative;
  text-decoration: none;
  color: #000000;

  &::after {
    position: absolute;
    width: 24px;
    height: 12px;
    content: "";
    background-image: url("../img/arrow-right.svg");
    top: 17px;
    left: 97px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-content-wrapper {
    gap: 30px;
  }

  .main-content-card {
    width: 594px;
    padding: 77px 62px 53px 52px;
    display: flex;
    flex-direction: column;
  }

  .main-content-card__image {
    position: absolute;
    right: 212px;

    &::before {
      width: 200px;
      height: 200px;
      top: 16px;
    }
  }

  .main-content-card__image--sphinx {
    &::after {
      width: 140px;
      height: 194px;
      left: 30px;
      top: 5px;
    }
  }

  .main-content-card__image--panther {
    &::before {
      top: 10px;
    }

    &::after {
      width: 268px;
      height: 112px;
      left: -35px;
      top: 55px;
    }
  }

  .main-content-card__title {
    font-size: 36px;
    line-height: 36px;
    align-self: auto;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 24px;
  }

  .main-content-card__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 340px;
    margin-top: 0;
  }

  .main-content-card__link {
    border: none;
    padding: 0;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 10px;
      left: 133px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-content-wrapper {
    width: 1220px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0;
    margin-top: 41px;
  }

  .main-content-card {
    width: 467px;
    padding: 47px 51px 60px 52px;
    flex-direction: row;
    align-items: center;
  }

  .main-content-card__image {
    position: relative;
    width: 100px;
    height: 100px;
    left: 0;
    top: -23px;

    &::before {
      width: 100px;
      height: 100px;
    }
  }

  .main-content-card__image--sphinx {
    &::after {
      width: 70px;
      height: 97px;
      left: 15px;
      top: 10px;
    }
  }

  .main-content-card__image--panther {
    &::after {
      width: 134px;
      height: 56px;
      top: 32px;
      left: -19px;
    }
  }

  .main-content-card__title {
    align-self: center;
    margin-left: 62px;
    margin-top: 10px;
  }

  .main-content-card__description {
    width: 467px;
    height: 72px;
    margin-top: 31px;
    margin-bottom: 23px;
  }

  .main-content-card__link {
    margin: 0;
    align-self: flex-end;
  }
}
