.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.slider__item--skinny {
  display: none;
}

.slider__status {
  border-radius: 7px;
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  margin: 4px 17px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 6px;
    background: #68b738;
    border-radius: 6px;
    margin: 4px;
  }
}

.slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .slider__container {
    background-color: #eaeaea;
    width: 768px;
    min-height: 462px;
    position: relative;
    left: -29px;
  }

  .slider__container::before {
    position: absolute;
    content: "";
    width: calc((100vw - 708px) / 2);
    height: 100%;
    background-color: #eaeaea;
    left: calc(((100vw - 708px) / 2) * -1);
  }

  .slider__container::after {
    position: absolute;
    content: "";
    width: calc((100vw - 708px) / 2);
    height: 100%;
    background-color: #eaeaea;
    right: calc(((100vw - 708px) / 2) * -1);
    top: 0;
  }

  .slider__items {
    display: flex;
    justify-content: center;
  }

  .slider__item {
    width: 296px;
    height: 339px;
  }

  .slider__item--skinny {
    display: block;
  }

  .slider__image {
    width: 100%;
    object-fit: cover;
    height: 511px;
    margin: 0;
    position: relative;
    bottom: 172px;
  }

  .slider__image--fat {
    object-position: -7px -5px;
  }

  .slider__image--skinny {
    object-position: right;
  }

  .slider__wrapper {
    margin-top: 26px;
    padding-bottom: 56px;
    justify-content: center;
  }

  .slider__label {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted  rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .slider__label:hover {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.3);
  }

  .slider__label:active {
    border-bottom: none;
  }

  .slider__status {
    width: 426px;
    height: 6px;
    border: none;
    background: #dcdcdc;
    margin: 17px 24px;

    &::before {
      display: none;
    }
  }

  .slider__point {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    position: absolute;
    top: -14px;
    transform: translateX(-50%);
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &::after {
      position: absolute;
      content: "";
      background-color: #68b738;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border: 1px solid #68b738;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__container {
    width: auto;
    background: none;
  }

  .slider__items {
    width: auto;
    justify-content: end;
    position: relative;
    left: 21px;
  }

  .slider__item {
    position: relative;
    left: 10px;
    bottom: 8px;
  }

  .slider__image--fat {
    object-position: -7px -10px;
    width: 100%;
  }

  .slider__wrapper {
    justify-content: end;
    padding: 0;
    position: relative;
    right: -22px;
    margin-top: 15px;
  }

  .slider__container::before {
    display: none;
  }

  .slider__container::after {
    display: none;
  }
}
