
@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/page.scss";
@import "blocks/main-header.scss";
@import "blocks/main-header-wrapper.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-container-promo.scss";
@import "blocks/main-container-promo-button.scss";
@import "blocks/main-content-wrapper";
@import "blocks/main-content-card.scss";
@import "blocks/main-content-guide.scss";
@import "blocks/main-content-example.scss";
@import "blocks/main-content-example-expenses.scss";
@import "blocks/slider.scss";
@import "blocks/location.scss";
@import "blocks/location-map.scss";
@import "blocks/footer-wrapper.scss";
@import "blocks/footer-social.scss";
@import "blocks/footer-banner.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-more.scss";
@import "blocks/additional.scss";
@import "blocks/catalog-promo.scss";
@import "blocks/form.scss";
